In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn import metrics

In [2]:
df = pd.read_csv('energydata_complete.csv')

In [3]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
#drop the date and light column
df.drop(['date','lights'],axis=1, inplace=True)

In [5]:
#normalise the dataset to a common scale using the min max scaler
scaler = MinMaxScaler()
norm_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

# Question 12

In [6]:
X = norm_df['T2'].values.reshape(-1,1)
Y = norm_df['T6'].values.reshape(-1,1)

In [7]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3,random_state=42)                                                  
lin_model = LinearRegression()
lin_model.fit(X_train, Y_train)
prediction = lin_model.predict(X_test)

In [8]:
from sklearn.metrics import r2_score
r2_score = round(r2_score(Y_test, prediction), 2)
r2_score

0.64000000000000001

# Question 13

In [9]:
feature_X = norm_df.drop('Appliances',axis=1)
target_Y = norm_df['Appliances']


X_train, X_test, Y_train, Y_test = train_test_split(feature_X, target_Y, test_size=0.3, random_state=42)
lm = LinearRegression()
lm.fit(X_train, Y_train)
pred_value = lm.predict(X_test)

In [10]:
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(Y_test, pred_value)
round(mae,2)

0.050000000000000003

# Question 14

In [11]:
rss = np.sum(np.square(Y_test - pred_value))
round(rss,2)

45.35

# Question 15

In [12]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(Y_test, pred_value))
round(rmse,3)

0.087999999999999995

# Question 16

In [13]:
from sklearn.metrics import r2_score
coef_det = r2_score(Y_test, pred_value)
round(coef_det, 2)

0.14999999999999999

# Question 17

In [14]:
feat_weight = pd.Series(lm.coef_, feature_X.columns)
feat_weight.sort_values()[[0,-1]]

RH_2   -0.456698
RH_1    0.553547
dtype: float64

# Question 18

In [15]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(X_train, Y_train)
pred = ridge_reg.predict(X_test)

rmse = np.sqrt(mean_squared_error(Y_test, pred))
round(rmse,3)

0.087999999999999995

# Question 19

In [19]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, Y_train)
lasso_weight = pd.Series(lasso_reg.coef_, feature_X.columns)
(lasso_weight[lasso_weight != 0]).count()

4

# Question 20

In [17]:
pred = lasso_reg.predict(X_test)
rmse = np.sqrt(mean_squared_error(Y_test, pred))
round(rmse,3)

0.094